<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" 
          href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-select/1.13.14/css/bootstrap-select.min.css">
          
    <script src='https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.7.0/jquery.min.js'></script>
    <script src='https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
    <script src='https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js'></script>
    
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-select/1.13.14/js/bootstrap-select.min.js"></script>
    <title>What to do?</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="/">What to do?</a>
            </li>
        </ul>
    </div>
</nav>


<div class="maincontent" style="padding: 2em;">
    {% block content %}{% endblock %}
</div>
<div class="container mt-3">
    <hr/>
    <a href="/" target="_blank">What to do?</a>
    &middot;
    <a href="https://wikitech.wikimedia.org" class="text-muted" target="_blank">
        wikitech.wikimedia.org</a>
    &middot;  
    <a href="https://phabricator.wikimedia.org/tag/tool-whattodo/" class="text-muted" target="_blank">
        report issues
    </a>
    &middot;
    <a href="https://gitlab.wikimedia.org/toolforge-repos/whattodo" class="text-muted" target="_blank">
        source code</a>
</div>
</body>
</html>
