{% extends "base.html" %}
{% block content %}
<style>
    label {
        margin-top: 5px;
    }
</style>
<form action="/{{path}}" style="max-width: 500px;">
    <div class="form-group">
        <label for="lang">Target language code:</label>
        <select id="lang" name="lang" class="selectpicker form-control" data-live-search="true" >
            {% for lang in valid_languages %}
            <option value="{{lang}}" data-tokens="{{lang}}">{{lang}}</option>
            {% endfor %}
        </select>
        <label for="topic">Target topic:</label>
        <select id="topic" name="topic" class="selectpicker form-control" data-live-search="true" >
            {% for topic in valid_topics %}
            <option value="{{topic['title']}}" data-tokens="{{topic['title']}}">{{topic['title']}}</option>
            {% endfor %}
        </select>
        <label for="importance">Importance:</label>
        <select id="importance" name="importance" class="form-select form-control">
            {% for importance in importances %}
            <option value="{{importance}}">{{importance}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Get recommendations</button>
</form>

{% endblock %}