{% extends "base.html" %}
{% block content %}
<style>
    label {
        margin-top: 5px;
    }
</style>
<form action="/whattoimprove" style="max-width: 500px;">
    <div class="form-group">
        <label for="lang">Target language code:</label>
        <select id="lang" name="lang" class="selectpicker form-control" data-live-search="true" >
            {% for langfor in valid_languages %}
            <option {% if lang == langfor %}selected {% endif %}value="{{langfor}}" data-tokens="{{lang}}">{{langfor}}</option>
            {% endfor %}
        </select>
        <label for="topic">Target topic:</label>
        <select id="topic" name="topic" class="selectpicker form-control" data-live-search="true" >
            {% for topicfor in valid_topics %}
            <option {% if topic == topicfor['title'] %}selected {% endif %}value="{{topicfor['title']}}" data-tokens="{{topic['title']}}">{{topicfor['title']}}</option>
            {% endfor %}
        </select>
        <label for="importance">Importance:</label>
        <select id="importance" name="importance" class="form-select form-control">
            {% for importancefor in importances %}
            <option {% if importance == importancefor %}selected {% endif %}value="{{importancefor}}">{{importancefor}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Get recommendations</button>
</form>
<hr>
<h2>Short articles</h2>
Articles that are shorter than 15,000 bytes.
  <table class="table" style="max-width: 500px;">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Page size</th>
        <th scope="col">Number of languages</th>
      </tr>
    </thead>
    <tbody>
        {% for i in short_articles %}
        <tr>
            <td>
                <a href="https://{{lang}}.Wikipedia.org/wiki/{{i.title}}" target="_blank">{{i.viewtitle}}</a>
            </td>
            <td>
                {{i.size}}
            </td>
            <td>
                {{i.ll_count}}
            </td>
        </tr>
       {% endfor %}
    </tbody>
  </table>
{% endblock %}